<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/storage_probe_extraction_rules">
        <activity android:name="org.totipo.android.debug.StorageProbeActivity"
            android:label="Totipo disposable storage probe" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.totipo.android.debug.LocalNioProbeActivity"
            android:label="Totipo local NIO qualification" android:exported="true" />
        <activity android:name="org.totipo.android.debug.AuthPerfActivity"
            android:label="Totipo authentication diagnostics" android:exported="true" />
    </application>
</manifest>
